<div class="border-form-div">
  <h2>Alterar Senha</h2>
  <% if resource.errors.present? %>
    <% if resource.errors[:password_confirmation].present? %>
      <div class="alert alert-warning">Senha <%= resource.errors[:password_confirmation].first %></div>
    <% elsif resource.errors[:password].present? %>
      <div class="alert alert-warning">Senha <%= resource.errors[:password].first %></div>
    <% end %>
  <% end %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'Nova Senha' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmação da Senha' %>
    <div></div>
    <%= f.submit "Alterar Senha", class: 'btn btn-primary' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>